.DIV1 {
    background-color: darkseagreen;
    height: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DIV2 {
    background-color: lightgray;
    margin: auto;
    margin-bottom: 1rem;
    height: 4rem;
    width: 30%;
    padding: 0.5rem;

}

#test-area {
    border: 7px solid gray;
    border-radius: 10px;
    width: 470px;
    height: 150px;
}

.test-wrapper {

    display: flex;
    justify-content: center;
    box-sizing: border-box;

}


.DIV4 {
    display: flex;
    justify-content: center;

}

.BTN {
    border: 3px solid grey;
    border-radius: 3px;
    margin-left: 65%;
    margin-top: 0.5rem;
    height: 2rem;
    width: 5rem;
}

.BTN:hover {
    color: white;
    background-color: green;
}

.timer {
    font-size: 40px;
}

.P1 {
    color: white;
    font-size: 2rem;
}

.P2 {
    text-align: center;
}

.P3 {
    margin: 1rem;
}

